<HTML>
<HEAD>
    <TITLE>
        Form
    </TITLE>
</HEAD>
<BODY>
    <form name="form" action="/form" method="POST">
        <br>
        <p>
            I want the data below to show up on the next page.
        </p>
        <input type="text" name="data"><br>
        <input type="text" name="data_2"><br>
        <input type="text" name="data_3"><br>
        <INPUT TYPE = "SUBMIT">
        <p>
            The value of data = %data%
        </p>
        <p>
            The value of data_2 = %data_2%
        </p>
        <p>
            The value of data_3 = %data_3%
        </p>
    </form>
</BODY>
</HTML>